/* google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* primary styles */
body{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    background-color: aliceblue;
}
/* common color */
.common-color{
    color: #012970;
}
.common-btn{
    background-color: #4154f1 !important;
    /* padding: 8px !important; */
    color: white !important;
}
.common-btn-lg{
    background-color: #4154f1 !important;
    padding: 8px !important;
    color: white !important;
}
/* nav bar styles */
.navbar-brand{
    font-weight: bold;
    color: #4154f1 !important;
}
.nav-link{
    color:#4154f1 !important;
}
/* value card styles */
.value-card-1:hover{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px !important;
    transition-duration: 0.5s;
}
.value-card-2:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px !important;
    transition-duration: 0.5s;
}
.value-card-3:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px !important;
    transition-duration: 0.5s;
}